<%- include("./top.ejs") %>
<nav>
  <h3>Node JS</h3>
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/about">About Us</a></li>
    <li><a href="/contact">Contact Us</a></li>
    <!-- <li><a href="/">Home</a></li> -->
  </ul>
</nav>
