<!DOCTYPE html>
    <%- include("./partials/nav.ejs") %>
  <body>
    <h1>Node JS Recap</h1>
    <% if(blogs.length >0) {%> <% blogs.map(blog => { %>
      <div class="card">
        <h2 class="title"><%= blog.title %></h2>
        <p class="snippet"><%= blog.snippet %></p>
      </div>
      <% }) %> <% }else{%>
      <h2>No Blogs to display Now</h2>
  
      <% }%>

    <h3><%= title %></h3>
  </body>
</html>
